.product-item {
  user-select: none;
  background-color: var(--kt-body-bg);
  cursor: pointer;

  &:hover {
    background-color: var(--kt-primary-light);
    color: var(--kt-primary);
  }

  &--disabled {
    cursor: not-allowed;

    &:hover {
      background-color: transparent !important;
    }
  }
}
